.Header_navBar__5kP7U {
    position: fixed;
    bottom: 1.83rem;
    left: 3.3333333333rem;
    right: 3.3333333333rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3333333333rem;
    border: .08rem solid #FFC801;
    background: #000;
    color: #FFC801;
    text-transform: uppercase;
    z-index: 9999
}

.Header_navBar__5kP7U .Header_logo__X2AKx {
    width: 5.3333333333rem
}

.Header_navBar__5kP7U ul {
    display: flex;
    flex-direction: row;
    gap: 3.6666666666rem
}

.Header_navBar__5kP7U a {
    z-index: 3
}

.Header_floatingButtons__U6CxU {
    position: fixed;
    top: 1.83rem;
    left: 3.3333333333rem;
    right: 3.3333333333rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    pointer-events: none
}

.Header_floatingButtons__U6CxU .Header_button__vfNZk,
.Header_floatingButtons__U6CxU .Header_socialLink__VvKzF {
    pointer-events: all
}

.Header_floatingButtons__U6CxU .Header_buttonWrap__EnLHB {
    overflow: hidden
}

.Header_floatingButtons__U6CxU .Header_button__vfNZk {
    padding: 1rem 1.3333333333rem;
    border: .08rem solid #FFC801;
    background-color: #000;
    color: #FFC801;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: background-color .3s cubic-bezier(.445, .05, .55, .95), color .3s cubic-bezier(.445, .05, .55, .95)
}

.Header_floatingButtons__U6CxU .Header_button__vfNZk:hover {
    background-color: #FFC801;
    color: #000
}

.Header_floatingButtons__U6CxU .Header_button__vfNZk .Header_buttonIcon__tFxhq {
    width: 1.3333333333rem;
    object-fit: contain
}

.Header_floatingButtons__U6CxU .Header_dropdownWrap__MPcK4 {
    overflow: hidden
}

.Header_floatingButtons__U6CxU .Header_dropdown__5CJOL {
    position: relative;
    margin-top: 1rem
}

.Header_floatingButtons__U6CxU .Header_dropdown__5CJOL li {
    align-items: stretch
}

.Header_floatingButtons__U6CxU .Header_dropdown__5CJOL .Header_socialLink__VvKzF {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.3333333333rem;
    color: #FFC801;
    transition: background-color .3s cubic-bezier(.445, .05, .55, .95), color .3s cubic-bezier(.445, .05, .55, .95)
}

.Header_floatingButtons__U6CxU .Header_dropdown__5CJOL .Header_socialLink__VvKzF:hover {
    color: #000;
    background-color: rgb(255, 200, 1)
}

.Header_floatingButtons__U6CxU .Header_dropdown__5CJOL .Header_socialIcon__36BAj {
    width: 1.3333333333rem;
    object-fit: contain
}

.Header_floatingButtons__U6CxU .Header_dropdown__5CJOL .Header_socialLabel__Y6MKn {
    text-transform: uppercase
}

.Header_floatingButtons__U6CxU .Header_dropdown__5CJOL .Header_dropdownBg__3ZUz9 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: .08rem solid #FFC801;
    background-color: #000;
    transform-origin: top
}

@media only screen and (max-width:767px) {
    .Header_navBar__5kP7U {
        bottom: 2.6666666666rem;
        left: 1.3333333333rem;
        right: 1.3333333333rem;
        padding: 0 1.3333333333rem
    }

    .Header_navBar__5kP7U a {
        min-width: 40px;
        height: 3.3333333333rem;
        display: flex;
        align-items: center;
        justify-content: right
    }

    .Header_navBar__5kP7U ul {
        gap: 2rem
    }

    .Header_floatingButtons__U6CxU {
        top: 2.6666666666rem;
        left: 1.3333333333rem;
        right: 1.3333333333rem
    }
}

.Invader_invaderAlt__bAGFF,
.Invader_invader__4dLCP {
    color: #FFC801;
    width: 2rem;
    margin-bottom: .2rem
}

.Footer_footer__OQpsI {
    padding: 7rem 3.3333333333rem 10.6666666666rem
}

.Footer_footerGrid__M4aA_ {
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 1.6666666666rem;
    column-gap: 1.6666666666rem;
    grid-row-gap: 1.3333333333rem;
    row-gap: 1.3333333333rem
}

.Footer_footerGrid__M4aA_ li {
    margin-bottom: .5rem
}

.Footer_footerGrid__M4aA_ li a:hover,
.Footer_invaderAlt__IblL6,
.Footer_invader__ShqXu {
    color: #FFC801
}

.Footer_heading__IWzpC {
    grid-area: 1/1
}

.Footer_shTag__2CIeS {
    grid-area: 2/1
}

.Footer_subHeading__nQcU1 {
    display: flex;
    grid-area: 2/2/3/4;
    margin: 1.3333333333rem 0 2rem;
    text-transform: uppercase;
    color: #FFC801
}

.Footer_pTag__hId6Q {
    grid-area: 3/1
}

.Footer_paragraph__TKfjk {
    grid-area: 3/2/4/3;
    margin: 1.3333333333rem 0 5rem
}

.Footer_aTag__1lOgj {
    grid-area: 4/1
}

.Footer_ctaWrap__l57_y {
    grid-area: 4/2/5/3;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1.3333333333rem 0 5rem
}

.Footer_cta__jARcG {
    width: 9rem;
    padding: 1rem 1.3333333333rem;
    border: .08rem solid #FFC801;
    text-transform: uppercase;
    z-index: 1;
    color: #FFC801;
    background-color: #000;
    transition: background-color .3s cubic-bezier(.445, .05, .55, .95), color .3s cubic-bezier(.445, .05, .55, .95)
}

.Footer_cta__jARcG:hover {
    color: #000;
    background-color: #FFC801
}

.Footer_cta__jARcG>div:first-child {
    display: flex;
    justify-content: center
}

.Footer_rocket__7Lz4E {
    color: #FFC801;
    height: 2rem;
    width: 2rem
}

.Footer_linksHeading__6Y62s {
    text-transform: uppercase;
    color: #FFC801;
    margin-bottom: 1.3333333333rem
}

.Footer_contactLinks__mL6LW {
    grid-area: 5/2
}

.Footer_socialLinks__BEJm6 {
    grid-area: 5/3
}

.Footer_copyWrap__tvkZR {
    align-self: flex-end;
    justify-self: flex-end;
    grid-area: 5/4;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.Footer_copyWrap__tvkZR .Footer_bomb__0C6ri {
    color: #FFC801;
    width: 2rem;
    margin-bottom: 1rem
}

@media only screen and (max-width:767px) {
    .Footer_footer__OQpsI {
        padding: 7rem 1.3333333333rem 10.6666666666rem
    }

    .Footer_footerGrid__M4aA_ {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: .6666666666rem;
        row-gap: 0
    }

    .Footer_footerGrid__M4aA_ li {
        margin-bottom: 0
    }

    .Footer_footerGrid__M4aA_ li a {
        height: 3.3333333333rem;
        display: flex;
        align-items: center
    }

    .Footer_heading__IWzpC {
        grid-area: 1/1/1/3
    }

    .Footer_shTag__2CIeS {
        grid-area: 2/1/2/3
    }

    .Footer_subHeading__nQcU1 {
        grid-area: 3/1/3/3;
        margin: .3333333333rem 0 2rem;
        padding-left: 2rem
    }

    .Footer_pTag__hId6Q {
        grid-area: 4/1/4/3
    }

    .Footer_paragraph__TKfjk {
        grid-area: 5/1/5/3;
        margin: .3333333333rem 0 2rem;
        padding-left: 2rem
    }

    .Footer_aTag__1lOgj {
        grid-area: 6/1/6/3
    }

    .Footer_ctaWrap__l57_y {
        grid-area: 7/1/7/3;
        margin-left: 2rem
    }

    .Footer_contactLinks__mL6LW {
        grid-area: 8/1
    }

    .Footer_socialLinks__BEJm6 {
        grid-area: 8/2
    }

    .Footer_copyWrap__tvkZR {
        grid-area: 9/1;
        align-self: flex-start;
        justify-self: flex-start;
        align-items: flex-start;
        margin-top: 4rem
    }
}

.Text_hL__Dhu9_,
.Text_hL__Dhu9_ * {
    font-size: 10rem;
    line-height: 8rem
}

.Text_hM__SG9It,
.Text_hM__SG9It * {
    font-size: 3rem;
    line-height: 3.3333333333rem
}

.Text_hWrap__6r9sp {
    display: flex;
    flex-direction: column;
    align-items: center
}

.Text_hBlock__LZrwh {
    display: inline-block;
    text-transform: uppercase;
    background: #FFC801;
    color: #000;
    padding: 0 .5rem .04rem;
    margin-bottom: 1.3333333333rem;
    transform-origin: left
}

.Text_hBlock__LZrwh.Text_enter__35vww {
    transform: scaleX(0)
}

.Text_tag__D4nfM {
    color: #FFC801;
    align-self: flex-start
}

.Text_tag__D4nfM.Text_tagRight__L2ctS {
    justify-self: flex-end
}

.Text_tagBlock__9qz0_ {
    position: relative
}

.Text_tagBlock__9qz0_ h2,
.Text_tagBlock__9qz0_ h3,
.Text_tagBlock__9qz0_ p {
    margin-left: 4rem
}

@media only screen and (max-width:767px) {

    .Text_hL__Dhu9_,
    .Text_hL__Dhu9_ * {
        font-size: 2.6666666666rem;
        line-height: 2rem
    }

    .Text_hM__SG9It,
    .Text_hM__SG9It * {
        font-size: 2rem;
        line-height: 2.3333333333rem
    }

    .Text_hBlock__LZrwh {
        margin-bottom: 2rem
    }

    .Text_tag__D4nfM.Text_tagRight__L2ctS {
        justify-self: flex-start
    }
}

.Preloader_preloader__Qv3kB {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFC801;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center
}

.Preloader_inner__WVDgM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    z-index: 6
}

.Preloader_progressWrap__jwJyg {
    width: 28rem;
    height: 2rem;
    border: .08rem solid #FFC801;
    transform-origin: right
}

.Preloader_progress__oTqTY {
    background: #FFC801;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left
}

.Preloader_textWrap___rQ3R {
    position: relative;
    width: 100%;
    overflow: hidden
}

.Preloader_text__kIyVl {
    display: flex;
    position: absolute;
    left: 0
}

@keyframes Preloader_flash__EAOkv {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.Preloader_cursor__ZxSCM {
    animation-duration: .4s;
    animation-name: Preloader_flash__EAOkv;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

.Preloader_textInv__EM0zk {
    visibility: hidden
}

.Preloader_background__VvR1E {
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: right;
    z-index: 5
}

.Canvas_c__0cpnf {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none
}

html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: auto;
    overflow-x: hidden
}

body,
html {
    width: 100%;
    min-height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    font-size: medium;
    font-weight: unset
}

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
header,
html,
img,
input,
label,
li,
nav,
p,
select,
span,
table,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: 0
}

button,
input,
select,
textarea {
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    outline: 0;
    background: 0 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit
}

button:focus,
input:focus,
textarea:focus {
    outline: 0
}

button:hover,
input[type=submit]:hover {
    cursor: pointer
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input::-ms-clear {
    display: none
}

textarea {
    overflow: auto
}

span {
    display: inline-block
}

li,
ul {
    list-style: none;
    display: flex;
    flex-direction: column
}

a {
    color: inherit;
    text-decoration: none;
    pointer-events: all;
    display: inline-block;
    position: relative
}

* {
    box-sizing: border-box
}

img,
picture,
svg,
video {
    display: block
}

img,
svg,
video {
    width: 100%;
    height: auto
}

svg {
    height: 100%;
    fill: currentColor
}

picture {
    overflow: hidden
}

picture img {
    height: 100%;
    object-fit: cover
}

iframe {
    position: absolute
}

#svg {
    position: fixed;
    width: 0;
    height: 0
}

@font-face {
    font-family: IBM;
    src: url(../media/IBMPlexMono-Regular.b8d1bc79.woff) format(woff), url(../media/IBMPlexMono-Regular.20c4b0aa.woff2) format(woff2);
    font-display: swap
}

*,
:after,
:before {
    --base-font-size-unitless: 12;
    --prototype-width-unitless: 1440;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html {
    font-size: calc(var(--base-font-size-unitless)*100vw/var(--prototype-width-unitless))
}

body {
    font-family: IBM, mono;
    font-weight: 400;
    font-size: 1rem;
    background: #000;
    color: #fff
}

::-webkit-selection {
    background: #FFC801
}

::selection {
    background: #FFC801
}

.lenis {
    scroll-behavior: auto
}

.lenis.lenis-stopped {
    overflow: hidden
}

h2,
p {
    font-size: 1rem
}

#contact,
#content,
#home,
#services {
    position: relative;
    top: -8rem
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor
}

.line,
.split {
    position: relative
}

.line {
    display: block
}

.char,
.word {
    position: relative;
    display: inline
}

.line>.wrap,
.split>.wrap {
    position: relative;
    overflow: hidden
}

.line>.wrap {
    display: inline
}

@media only screen and (max-width:767px) {

    *,
    :after,
    :before {
        --base-font-size-unitless: 12;
        --prototype-width-unitless: 375
    }

    body {
        background-image: url("data:image/svg+xml,%3Csvg width='1rem' height='1rem' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='4' height='4' fill='%232EF938' fill-opacity='0.075'/%3E%3C/svg%3E");
        background-repeat: repeat;
        background-size: 1rem
    }
}