.Home_header__4gLs1 {
    padding: 8rem 3.3333333333rem;
    overflow-x: hidden
}

.Home_header__4gLs1 .Home_headerTop__94npW {
    color: #FFC801;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 1.6666666666rem;
    column-gap: 1.6666666666rem
}

.Home_header__4gLs1 .Home_headerTop__94npW .Home_welcome__Qxzze {
    display: flex;
    flex-direction: column;
    width: max-content
}

.Home_header__4gLs1 .Home_headerTop__94npW .Home_welcome__Qxzze span:last-of-type {
    align-self: flex-end
}

.Home_header__4gLs1 .Home_headerTop__94npW .Home_time__8OFG_ {
    display: flex;
    flex-direction: column
}

.Home_header__4gLs1 .Home_headerTop__94npW .Home_access__xMXPa {
    grid-area: 1/4
}

.Home_header__4gLs1 .Home_heroHeading__bSpcB {
    height: calc(var(--index)*8rem);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-top: 2rem
}

.Home_header__4gLs1 .Home_heroHeading__bSpcB span:nth-of-type(3) {
    color: #FFC801
}

.Home_header__4gLs1 .Home_heroHeading__bSpcB span:nth-of-type(4) {
    color: #FFC801;
    align-self: flex-end
}

.Home_header__4gLs1 .Home_heroHeading__bSpcB span:nth-of-type(5) {
    align-self: flex-end
}

.Home_header__4gLs1 .Home_anchorWrap__oC7bu {
    display: flex;
    margin-top: 5rem;
    align-items: center;
    gap: 1.3333333333rem;
    color: #fff
}

.Home_header__4gLs1 .Home_anchorWrap__oC7bu:hover {
    color: #FFC801
}

.Home_header__4gLs1 .Home_anchorWrap__oC7bu .Home_anchorImg__kvxNk {
    color: #FFC801;
    width: 1.3333333333rem;
    height: auto
}

.Home_header__4gLs1 .Home_anchorWrap__oC7bu .Home_anchorText__Zq6EP {
    position: relative
}

.Home_aboutSection__F8d50 {
    padding: 0 3.3333333333rem;
    margin: 4.6666666666rem 0 8rem
}

.Home_aboutSection__F8d50 .Home_sectionGrid__7m4Dm {
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 1.6666666666rem;
    column-gap: 1.6666666666rem;
    grid-row-gap: 1.3333333333rem;
    row-gap: 1.3333333333rem
}

.Home_aboutSection__F8d50 .Home_heading__9LSMK {
    grid-area: 1/1
}

.Home_aboutSection__F8d50 .Home_pTag__hLQhE {
    grid-area: 2/1
}

.Home_aboutSection__F8d50 .Home_paragraph__dbfES {
    grid-area: 2/2/3/3;
    margin: 1.3333333333rem 0 5rem
}

.Home_servicesSection__dSEEZ {
    padding: 0 3.3333333333rem;
    margin: 4.6666666666rem 0 10.6666666666rem
}

.Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm {
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 1.6666666666rem;
    column-gap: 1.6666666666rem;
    grid-row-gap: 1.3333333333rem;
    row-gap: 1.3333333333rem
}

.Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_heading__9LSMK {
    grid-area: 1/1
}

.Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_shTag__X7Dun {
    grid-area: 2/1
}

.Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_subHeading__XNEuI {
    grid-area: 2/2/3/4;
    margin-top: 1.3333333333rem;
    text-transform: uppercase;
    color: #FFC801
}

.Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_subHeading__XNEuI span {
    color: #fff
}

.Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_pTag__hLQhE {
    grid-area: 3/1
}

.Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_paragraph__dbfES {
    grid-area: 3/2/4/3;
    margin: 1.3333333333rem 0 5rem
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT {
    display: grid;
    grid-template-columns: 27.08rem 84.59rem;
    grid-column-gap: 1.6666666666rem;
    column-gap: 1.6666666666rem
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accItem__QyzEk {
    position: relative;
    border-bottom: .09rem solid #FFC801
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accItem__QyzEk:nth-child(2) {
    border-top: .09rem solid #FFC801
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accHead__QQKYn {
    width: 100%
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accHead__QQKYn .Home_accHeadInner__GHrQx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    padding: .25rem 1.25rem;
    border-radius: .25rem
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accHead__QQKYn:hover .Home_accHeadInner__GHrQx {
    background: #FFC801;
    color: #000
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accListTitle__xxQbk {
    pointer-events: none;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accExpand__1WQGl {
    pointer-events: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accExpand__1WQGl img {
    width: 1rem;
    height: 1rem
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accBody__l07Ab {
    position: absolute;
    width: 32rem;
    height: 32rem;
    border: .09rem solid #FFC801;
    border-radius: .25rem;
    background: #000;
    z-index: 1;
    display: none;
    left: var(--offset);
    top: -10rem
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accBody__l07Ab.Home_accOpen__9s4br {
    display: block
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accBodyHead__bUK4V {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .09rem solid #FFC801;
    color: #FFC801
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accTitle__19shp {
    text-transform: uppercase
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_svgClose__XAnR5 {
    display: flex;
    align-items: center;
    justify-content: center
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accClose__PoR21 {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: auto !important
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accClose__PoR21 img {
    width: 1rem;
    height: 1rem
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accBodyBody__9C6iW {
    height: calc(100% - 4rem);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem
}

.Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accIcon__ykRbE {
    width: 3rem;
    height: 3rem
}

.Home_pac__bRjBI {
    position: relative;
    padding: 0 3.3333333333rem
}

.Home_pac__bRjBI .Home_line__zX0KI {
    border-bottom: .09rem dashed #FFC801
}

.Home_pac__bRjBI .Home_ghost__eBdEm,
.Home_pac__bRjBI .Home_pacman__ANKA_ {
    position: absolute;
    top: -1rem
}

.Home_pac__bRjBI .Home_pacman__ANKA_ {
    color: #FFC801;
    height: 2rem;
    width: 2rem;
    left: 90rem
}

.Home_pac__bRjBI .Home_ghost__eBdEm {
    color: #FFC801;
    height: 2rem;
    width: 2rem;
    left: 54rem
}

.Home_pac__bRjBI.Home_top__Aku2g .Home_pacman__ANKA_ {
    left: 16rem
}

.Home_pac__bRjBI.Home_top__Aku2g .Home_ghost__eBdEm {
    left: 70rem
}

@media only screen and (max-width:767px) {
    .Home_header__4gLs1 {
        padding: 8rem 1.3333333333rem 0
    }

    .Home_header__4gLs1 .Home_headerTop__94npW {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: .6666666666rem;
        row-gap: 2rem
    }

    .Home_header__4gLs1 .Home_headerTop__94npW .Home_time__8OFG_ {
        justify-self: flex-end
    }

    .Home_header__4gLs1 .Home_headerTop__94npW .Home_access__xMXPa {
        grid-area: 2/2;
        justify-self: flex-end
    }

    .Home_header__4gLs1 .Home_heroHeading__bSpcB {
        height: calc(var(--index)*3rem);
        margin-bottom: 4.6666666666rem
    }

    .Home_header__4gLs1 .Home_heroHeading__bSpcB span {
        margin-bottom: 1rem
    }

    .Home_header__4gLs1 .Home_headerBottom__ycDSC {
        flex-direction: column-reverse
    }

    .Home_header__4gLs1 .Home_tagBlock__Q78GR p {
        margin-left: 0;
        padding-left: 2rem;
        width: 100%
    }

    .Home_header__4gLs1 .Home_anchorWrap__oC7bu {
        justify-content: flex-end
    }

    .Home_aboutSection__F8d50 {
        padding: 0 1.3333333333rem
    }

    .Home_aboutSection__F8d50 .Home_sectionGrid__7m4Dm {
        grid-template-columns: 1fr;
        row-gap: 0
    }

    .Home_aboutSection__F8d50 .Home_heading__9LSMK {
        grid-area: 1/1
    }

    .Home_aboutSection__F8d50 .Home_pTag__hLQhE {
        grid-area: 2/1
    }

    .Home_aboutSection__F8d50 .Home_paragraph__dbfES {
        grid-area: 3/1;
        margin: .3333333333rem 0;
        padding-left: 2rem
    }

    .Home_servicesSection__dSEEZ {
        padding: 0 1.3333333333rem
    }

    .Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm {
        grid-template-columns: 1fr;
        row-gap: 0
    }

    .Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_heading__9LSMK {
        grid-area: 1/1
    }

    .Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_shTag__X7Dun {
        grid-area: 2/1
    }

    .Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_subHeading__XNEuI {
        grid-area: 3/1;
        margin: .3333333333rem 0 2rem;
        padding-left: 2rem
    }

    .Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_pTag__hLQhE {
        grid-area: 4/1
    }

    .Home_servicesSection__dSEEZ .Home_sectionGrid__7m4Dm .Home_paragraph__dbfES {
        grid-area: 5/1;
        margin: .3333333333rem 0 5rem;
        padding-left: 2rem
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT {
        grid-template-columns: 1fr;
        border-top: .09rem dashed #FFC801
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accItem__QyzEk {
        border-bottom: .09rem dashed #FFC801
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accItem__QyzEk:nth-child(2) {
        border-top: 0
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accTag___x7ID {
        padding-top: .6666666666rem
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accHead__QQKYn .Home_accHeadInner__GHrQx {
        padding: .6666666666rem 1rem
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accListTitle__xxQbk {
        font-size: 1.6666666666rem;
        line-height: 1.6666666666rem;
        text-align: left
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accBodyHead__bUK4V {
        padding: 0 0 0 1rem
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accClose__PoR21 {
        height: 40px;
        width: 40px
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accClose__PoR21 svg {
        height: 2rem;
        width: 2rem
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accBody__l07Ab {
        width: 100%;
        height: 26rem;
        top: 1rem;
        left: 0
    }

    .Home_servicesSection__dSEEZ .Home_sectionAccGrid__EG0xT .Home_accBodyBody__9C6iW {
        padding: 1rem
    }

    .Home_pac__bRjBI {
        padding: 0 1.3333333333rem
    }

    .Home_pac__bRjBI .Home_pacman__ANKA_ {
        left: 10rem
    }

    .Home_pac__bRjBI .Home_ghost__eBdEm {
        left: 20rem
    }

    .Home_pac__bRjBI.Home_top__Aku2g .Home_pacman__ANKA_ {
        left: 10rem
    }

    .Home_pac__bRjBI.Home_top__Aku2g .Home_ghost__eBdEm {
        left: 20rem
    }
}